<div class="top-wrapper relative bg-cover bg-center" style="height: calc(100vh - 134px); background-image: url('<%= asset_path('top.jpg') %>');">
  <div class="top-inner-text absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center text-5xl md:text-6xl text-white">
    <h1>RUNTEQ BOARD APP</h1>
  </div>
</div>
