<footer id='footer' class='bg-gray-800 py-8'>
  <div class='container mx-auto px-4'>
    <div class='flex flex-wrap'>
      <div class='w-full sm:w-1/2'>
        <div class='text-gray-300'>
          <p>Copyright © 2019. RUNTEQ</p>
        </div>
      </div>
    </div>
  </div>
</footer>